<!DOCTYPE html>
<html>
  <head>
    <title>Tinker Books</title>
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
  </head>
  <body class="bg-pink-200">
    
    <div class="flex ">
    <div class="w-1/2 pt-20 flex-col justify-center">
      <h1 class="text-6xl">Welcome to <span class="text-red-900 text-8xl ">Tinker Books</span></h1>
    </div>
    <div class="w-1/2 pt-20">
      <img class="w-4/5 h-4/5 rounded"  src="../images/book.webp" alt="">
      <a href="/display"><button class="bg-green-200  hover:bg-red-400 rounded-xl p-2 mt-10">Explore Now</button></a>
    </div>
  </div>
  </body>
</html>
